<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easymusic">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.screen.protect.hidden.video.choosevideo.ChooseVideoActivity"></activity>
        <activity android:name=".ui.screen.protect.hidden.HiddenActivity" />
        <activity android:name=".ui.screen.protect.hidden.image.choosefile.ChooseFileActivity" />
        <activity android:name=".ui.screen.protect.hidden.image.choosefolder.ChooseFolderActivity" />
        <activity
            android:name=".ui.screen.protect.password.PasswordActivity"
            android:theme="@style/videoTheme" />
        <activity
            android:name=".ui.screen.video.PlayVideoActivity"
            android:theme="@style/videoTheme" />
        <activity android:name=".ui.screen.video.VideoActivity" />
        <activity android:name=".ui.screen.favorite.FavoriteActivity" />
        <activity android:name=".ui.screen.music.album.detail.AlbumDetailActivity" />
        <activity android:name=".ui.screen.music.MusicActivity" />
        <activity android:name=".ui.screen.music.artist.detail.ArtistDetailActivity" />
        <activity android:name=".ui.screen.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MP3Service" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>